

  
  <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red darken-2">
      <i class="fa fa-bars"></i>
    </a>
    <ul>
      <li><a ng-href="#/scorecards/all" class="btn-floating btn-large purple lighten-3"><i class="fa fa-book"></i></a></li>
      <li><a ng-href="#/scorecards/new" class="btn-floating btn-large green lighten-2"><i class="fa fa-table"></i></a></li>
      <li><a ng-href="#/weather/zip" class="btn-floating btn-large indigo lighten-2"><i class="fa fa-cloud"></i></a></li>
    </ul>
  </div>
  
      <div ng-repeat="scorecard in allScorecards">
        <div class="row">
          <div class="col s12 m6">
            <div class="card lime lighten-5" id="allCards">
              <div class="card-content dark-grey-text">
                
                <table class="striped">
                  <thead>
                   
                   <h6 id="cardName"><a ng-href="#/scorecards/{{scorecard.id}}"><i class="fa fa-flag-checkered fa-2x" aria-hidden="true" >   {{scorecard.roundCourse}}   </i></a></h6>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <h6><i class="fa fa-calendar" aria-hidden="true">   Date:</i></h6>
                      </td>
                      <td>
                        <h5>{{scorecard.roundDate}}</h5>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6><i class="fa fa-pencil-square-o" aria-hidden="true">   Round Score:</i></h6>
                      </td>
                      <td>
                        <h5>{{scorecard.totalScore}}</h5>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6><i class="fa fa-crosshairs" aria-hidden="true">   Total Putts:</i></h6>
                      </td>
                      <td>
                        <h5>{{scorecard.totalPutts}}</h5>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6><i class="fa fa-pencil-square-o" aria-hidden="true">   Front Score:</i></h6>
                      </td>
                      <td>
                        <h5>{{scorecard.frontStrokes}}</h5>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6><i class="fa fa-pencil-square-o" aria-hidden="true">   Back Score:</i></h6>
                      </td>
                      <td>
                        <h5>{{scorecard.backStrokes}}</h5>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <h6><i class="fa fa-plus-circle" aria-hidden="true">   Handicap:</i></h6>
                      </td>
                      <td>
                        <h5>{{scorecard.roundHandicap}}</h5>
                      </td>
                    </tr>
                    



                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
