
<!-- do anchor tags for routes and delete mainviewcontroller -->
  
  <div class="mainViewBtns">
    <div class="mainViewBtns1">
      <button id="weatherBtn"><a href="#/weather/zip"><i class="fa fa-cloud fa-2x"></i></a></button>
      <button id="newBtn"><a href="#/scorecards/new"><i class="fa fa-table fa-2x"></i></a></button>
    </div>
      <button id="bookBtn"><a href="#/scorecards/all"><i class="fa fa-book fa-2x"></i></a></button>
      <button id="statsBtn"><a href="#/stats"><i class="fa fa-percent fa-2x"></i></a></button>
  </div>
