


<section>
  <nav>
    <div class="nav-wrapper">
      <a ng-href="#/" class="brand-logo left"><img src="img/icaddyLogo.jpg" alt=""></a>
      <ul id="nav-mobile" class="right">
        <li><a ng-href="#/logout"><button class="btn btn-info" id="navLogout"><i class="fa fa-sign-out"></i></button></a></li>
      </ul>
    </div>
  </nav>
</section>



<!-- <nav>
  <ul class="left hide-on-med-and-down">
    <li><a ng-href="#/logout">Login</a></li>
    
  </ul>
  <ul id="slide-out" class="side-nav">
    <li><a ng-href="#/">Main</a></li>
    <li><a ng-href="#/weather/zip">Weather</a></li>
    <li><a ng-href="#/scorecards/new">New Scorecard</a></li>
    <li><a ng-href="#/scorecards/all">Scorebook</a></li>
    <li><a ng-href="#/stats">Stats</a></li>
    <li><a ng-href="#/logout">Logout</a></li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</nav> -->